[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "nvim-minimax"]
	path = nvim-minimax
	url = git@github.com:ChunyuPCY/nvim-minimax.git
	ignore = dirty
[submodule "dotbot-age"]
	path = dotbot-age
	url = https://github.com/fcatuhe/dotbot-age.git
